@media print {
    .no-print {
        display: none;
    }
    .page-break {
        page-break-after: always;
    }
}
/* site colors */
/* colors for primary class */
/* colors for success class */
/* colors for warning class */
/* colors for error class */
/* Main Primary color */
/* colors for gray class */
body,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #1a1d19;
    font-family: Tahoma, Geneva, sans-serif;
}
fieldset {
    border: 0 none;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    margin-top: 10px;
}
legend {
    padding: 0.2em 0.5em;
    border: 2px solid;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
}
li {
    padding-top: 10px;
}
code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
}
/* COLORS */
.primary {
    color: #323875;
    background-color: #b0b8ff;
    border-color: #000000;
}
.text-primary {
    color: #323875;
}
.warning {
    color: #aa9a39;
    background-color: #faf8ed;
    border-color: #5a4d00;
}
.text-warning {
    color: #aa9a39;
}
.success {
    color: #2d882d;
    background-color: #bec8be;
    border-color: #004800;
}
.text-success {
    color: #2d882d;
}
.error {
    color: #aa3c39;
    background-color: #faeded;
    border-color: #5a0200;
}
.text-error {
    color: #aa3c39;
}
.gray {
    color: #ced6d6;
    background-color: #7ea4a4;
    border-color: #7e8c8c;
}
.text-gray {
    color: #ced6d6;
}
/* INPUT */
input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime-local"],
input[type="time"],
input[type="email"],
input[type="url"],
input[type="tel"],
input[type="number"],
textarea {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    outline: none;
    font-size: 16px;
    font-family: Tahoma, Geneva, sans-serif;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid #d3d7cf;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    vertical-align: middle;
}
input[type="text"]:read-only,
input[type="password"]:read-only,
input[type="date"]:read-only,
input[type="datetime-local"]:read-only,
input[type="time"]:read-only,
input[type="email"]:read-only,
input[type="url"]:read-only,
input[type="tel"]:read-only,
input[type="number"]:read-only,
textarea:read-only {
    background-color: #d3d7cf;
    border: 1px solid #1a1d19;
}
input[type="text"]:-moz-read-only,
input[type="password"]:-moz-read-only,
input[type="date"]:-moz-read-only,
input[type="datetime-local"]:-moz-read-only,
input[type="time"]:-moz-read-only,
input[type="email"]:-moz-read-only,
input[type="url"]:-moz-read-only,
input[type="tel"]:-moz-read-only,
input[type="number"]:-moz-read-only,
textarea:-moz-read-only {
    background-color: #d3d7cf;
    border: 1px solid #1a1d19;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
input[type="datetime-local"]:focus,
input[type="time"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="tel"]:focus,
input[type="number"]:focus,
textarea:focus {
    box-shadow: 0 0 2px #1a1d19 inset;
}
input[type="submit"],
input[type="button"],
button,
.button {
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px single;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: Tahoma, Geneva, sans-serif;
    opacity: 0.85;
    filter: alpha(opacity=85);
}
input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
.button:hover {
    opacity: 1;
    filter: alpha(opacity=100);
    text-decoration: none;
}
select {
    margin-top: 5px;
    margin-bottom: 5px;
}
.custom-combobox {
    position: relative;
    display: inline-block;
}
.custom-combobox-toggle {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: -1px;
    padding: 0;
}
.custom-combobox-input {
    margin: 0;
    padding: 5px 10px;
    background-color: #ffffff;
}
.ws_form label {
    margin-top: 10px;
}
label {
    font-size: 16px;
    font-weight: bold;
    font-family: Tahoma, Geneva, sans-serif;
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
}
label input {
    vertical-align: middle;
}
label span {
    vertical-align: middle;
}
.link-button {
    padding-top: 0;
    margin-bottom: 15px;
}
.link-button a {
    display: block;
    text-align: center;
    padding: 16px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
}
.link-button a:hover {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-box-shadow: 5px 5px 10px #ced6d6;
    -moz-box-shadow: 5px 5px 10px #ced6d6;
    box-shadow: 5px 5px 10px #ced6d6;
    text-decoration: none;
}
.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.inputfile + label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: #3465a4;
    display: inline-block;
    cursor: pointer;
    padding: 5px;
    border: 1px double #3465a4;
    outline: 2px solid #FFFFFF;
    outline-offset: -3px;
}
.inputfile:focus + label,
.inputfile + label:hover {
    background-color: #204a87;
    border: 1px double #204a87;
    outline: 2px solid #FFFFFF;
    outline-offset: -3px;
}
.grid-header {
    margin-top: 5px;
    margin-bottom: 5px;
    border-top: 2px solid;
    border-bottom: 2px solid;
    line-height: 40px;
}
.grid-title {
    font-weight: bold;
    vertical-align: middle;
}
.search-form input {
    vertical-align: middle;
    font-weight: normal;
    font-size: 16px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.search-form .add-button {
    color: #2d882d;
    background-color: #bec8be;
    border: 1px solid #004800;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    width: 40px;
    margin-right: 15px;
    padding: 3px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    opacity: 0.85;
    filter: alpha(opacity=85);
}
.search-form .add-button:hover {
    opacity: 1;
    filter: alpha(opacity=100);
}
.search-form .search-button {
    width: 40px;
    height: 27px;
    margin-left: -41px;
    padding: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    border: 0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: #323875;
    background-color: #b0b8ff;
}
.search-form .search-input {
    width: 320px;
    background: #ffffff;
    padding: 5px;
    height: 30px;
}
/* CALLOUT */
.callout {
    margin: 10px 0;
    padding: 20px;
    border: 1px solid;
}
/* TEXT ALIGN */
.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
/* IMAGE THUMBNAIL */
.img_thumb {
    box-shadow: 5px 5px 5px #ced6d6;
    margin: 5px;
}
.thumbnail_view {
    margin: 10px;
    text-align: center;
}
/* TABLES */
table {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 12px;
    background: #ffffff;
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}
.ws_th {
    font-size: 12px;
    font-weight: bold;
    padding: 10px 8px;
    color: #1a1d19;
    border-bottom: 2px solid #1a1d19;
}
.ws_td {
    font-size: 12px;
    color: #1a1d19;
    padding: 9px 8px 0 8px;
    border-bottom: 1px solid #b2c0ae;
}
.ws_tr:hover .ws_td {
    background-color: #d3d7cf;
    border-bottom: 1px solid #7aa36d;
}
.ws_td .action-button {
    float: right;
    width: 40px;
    margin-bottom: 4px;
    margin-left: 4px;
    padding: 3px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    border: solid 1px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    opacity: 0.85;
    filter: alpha(opacity=85);
}
td .action-button:hover {
    opacity: 1;
    filter: alpha(opacity=100);
}
.table-dialog-header {
    font-size: 16px;
    padding: 14px;
    padding-left: 28px;
    background-color: #7aa36d;
    color: #e9ffe3;
    border-bottom: 1px solid #1a1d19;
    margin-bottom: 10px;
}
/* LINKS */
a {
    text-decoration: none;
    color: #323875;
    background-color: transparent;
}
a:hover,
a:active {
    text-decoration: none;
    color: #000000;
}
a.active {
    text-decoration: none;
    transition: all 0.3s linear;
    transition: color 0.2s ease-out, background 0.5s ease-in;
}
/* PAGINATION */
ul.pagination {
    display: inline-block;
    padding: 5px;
}
ul.pagination li {
    padding-top: 0;
    display: inline;
}
ul.pagination li a {
    border: 1px solid #d3d7cf;
    color: #1a1d19;
    float: left;
    padding: 8px 8px;
    text-decoration: none;
    margin: 3px;
    font-size: 10px;
}
ul.pagination li a.active {
    background-color: #1a1d19;
    color: #d3d7cf;
}
ul.pagination li a:hover:not(.active) {
    background-color: #d3d7cf;
}
/* HEADER */
.site-title {
    position: fixed;
    top: 0;
    height: 140px;
    color: #7aa36d;
    background-color: #e9ffe3;
}
.ws-header {
    position: relative;
    background-color: #7aa36d;
    background: #7aa36d;
    display: inline-block;
    padding: 0;
    top: -25px;
}
.ws-header ul {
    margin: 0;
    padding: 0;
    position: relative;
    list-style-type: none;
}
.ws-header ul li {
    background-color: #7aa36d;
    padding-top: 0;
    float: left;
}
.ws-header ul li a {
    display: block;
    color: #e9ffe3;
    text-align: center;
    padding: 16px;
    font-size: 16px;
    text-decoration: none;
}
.ws-header ul li:hover {
    background-color: #b2c0ae;
    -moz-transition: background-color 1s;
    -webkit-transition: background-color 1s;
    transition: background-color 1s;
}
.ws-header ul li:hover a {
    text-decoration: none;
    background-color: #e9ffe3;
    color: #7aa36d;
}
.ws-header ul ul {
    display: none;
    position: relative;
    padding: 0;
    -moz-box-shadow: 0 8px 16px 0 #ced6d6;
    -webkit-box-shadow: 0 8px 16px 0 #ced6d6;
    box-shadow: 0 8px 16px 0 #ced6d6;
}
.ws-header ul ul li:hover a {
    background-color: #b2c0ae;
    color: #7aa36d;
    -moz-transition: background-color 1s;
    -webkit-transition: background-color 1s;
    -o-transition: background-color 1s;
    transition: background-color 1s;
}
.ws-header .show-menu {
    text-decoration: none;
    color: #e9ffe3;
    background-color: #7aa36d;
    text-align: left;
    display: none;
    position: relative;
    padding-left: 1.25em;
    font-size: 16px;
    margin: 1em;
}
.ws-header .show-menu:before {
    content: "";
    position: absolute;
    width: 1em;
    height: 0.1em;
    left: 0;
    top: 4px;
    background: #e9ffe3;
    -webkit-box-shadow: 0 4px 0 0 #e9ffe3, 0 8px 0 0 #e9ffe3;
    -moz-box-shadow: 0 4px 0 0 #e9ffe3, 0 8px 0 0 #e9ffe3;
    box-shadow: 0 4px 0 0 #e9ffe3, 0 8px 0 0 #e9ffe3;
}
.ws-header input[type=checkbox] {
    display: none;
}
@media all and (min-width: 760px) {
    .ws-header .right {
        padding-top: 0;
        float: right;
        display: inline;
    }
    .ws-header ul li:hover > ul {
        display: block;
        position: absolute;
        white-space: nowrap;
        z-index: 999;
    }
    .ws-header ul li:hover a {
        text-decoration: none;
    }
    .ws-header ul ul li {
        float: none;
        position: relative;
    }
}
@media all and (max-width: 760px) {
    .site-title {
        display: none;
    }
    .ws-header input[type=checkbox]:checked ~ ul {
        display: block;
    }
    .ws-header input[type=checkbox]:checked ~ ul ul {
        display: block;
    }
    .ws-header {
        width: 100%;
        min-width: 100%;
    }
    .ws-header ul {
        background-color: #00557F;
        position: relative;
        display: none;
    }
    .ws-header ul ul {
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .ws-header ul li a {
        font-weight: bold;
        text-align: left;
    }
    .ws-header ul ul li {
        float: none;
        position: relative;
        margin: 0;
    }
    .ws-header ul ul li a {
        font-weight: normal;
        padding-left: 60px;
    }
    /*Make all menu links full width*/
    .ws-header ul li,
    li a {
        width: 100%;
    }
    /*Display 'show menu' link*/
    .ws-header .show-menu {
        display: block;
    }
}
/* content */
.content {
    margin-top: 10px;
}
/* GRID */
.row,
.column {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}
.row:before,
.row:after {
    content: "";
    display: table;
}
.row:after {
    clear: both;
}
.column {
    position: relative;
    float: left;
}
.column + .column {
    margin-left: 1.6%;
}
.column-1 {
    width: 6.86666666667%;
}
.column-2 {
    width: 15.3333333333%;
}
.column-3 {
    width: 23.8%;
}
.column-4 {
    width: 32.2666666667%;
}
.column-5 {
    width: 40.7333333333%;
}
.column-6 {
    width: 49.2%;
}
.column-7 {
    width: 57.6666666667%;
}
.column-8 {
    width: 66.1333333333%;
}
.column-9 {
    width: 74.6%;
}
.column-10 {
    width: 83.0666666667%;
}
.column-11 {
    width: 91.5333333333%;
}
.column-12 {
    width: 100%;
}
.column-offset-1 {
    margin-left: 6.86666666667%;
}
.column-offset-2 {
    margin-left: 15.3333333333%;
}
.column-offset-3 {
    margin-left: 23.8%;
}
.column-offset-4 {
    margin-left: 32.2666666667%;
}
.column-offset-5 {
    margin-left: 40.7333333333%;
}
.column-offset-6 {
    margin-left: 49.2%;
}
.column-offset-7 {
    margin-left: 57.6666666667%;
}
.column-offset-8 {
    margin-left: 66.1333333333%;
}
.column-offset-9 {
    margin-left: 74.6%;
}
.column-offset-10 {
    margin-left: 83.0666666667%;
}
.column-offset-11 {
    margin-left: 91.5333333333%;
}
@media only screen and (max-width: 760px) {
    .column-1,
    .column-2,
    .column-3,
    .column-4,
    .column-5,
    .column-6,
    .column-7,
    .column-8,
    .column-9,
    .column-10,
    .column-11,
    .column-12 {
        width: auto;
        float: none;
    }
    .column + .column {
        margin-left: 0;
    }
    .column-offset-1,
    .column-offset-2,
    .column-offset-3,
    .column-offset-4,
    .column-offset-5,
    .column-offset-6,
    .column-offset-7,
    .column-offset-8,
    .column-offset-9,
    .column-offset-10,
    .column-offset-11 {
        margin-left: 0;
    }
}
